<h1>Editing cometario</h1>

<%= render "form", cometario: @cometario %>

<br>

<div>
  <%= link_to "Show this cometario", @cometario %> |
  <%= link_to "Back to cometarios", cometarios_path %>
</div>
